<div class="income-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
          <div fxFlex="30">
            Income Sources
          </div>
          <div fxFlex="50">
            Total Income: ${{ totalIncome }}.00
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Enter all income sources (annually)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="income-card" fxLayout="column" fxLayoutGap="10px">
        <mat-form-field *ngFor="let source of incomeSources">
          <mat-label>
            <span>{{source.label}}</span>
          </mat-label>

          <input matInput [(ngModel)]="source.dollarAmount"
                 type="text"
                 required
                 placeholder=""/>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions align="start">
        <button mat-button class="mat-primary" (click)="add()">Add</button>
        <button mat-button class="mat-primary" (click)="save()">Save</button>
      </mat-card-actions>

      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </mat-expansion-panel>
</div>

