<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="25">
    <mat-form-field fxFlex="100">
      <mat-label>
        Description
      </mat-label>

      <input matInput
             [(ngModel)]="item.label"
             type="text"
             required
             placeholder="Label"/>
    </mat-form-field>
  </div>

  <div fxFlex="20" *ngIf="item.balance !== null">
    <mat-form-field fxFlex="100">
      <mat-label>
        <span>Balance</span>
      </mat-label>

      <input matInput
             [(ngModel)]="item.balance"
             type="number"
             required
             placeholder="Balance"/>
    </mat-form-field>
  </div>

  <div fxFlex="15">
    <mat-form-field fxFlex="100">
      <mat-label>
        <span>Accrual</span>
      </mat-label>

      <input matInput
             [(ngModel)]="item.accrualAmount"
             type="number"
             required
             placeholder="Accrual Amount"/>
    </mat-form-field>
  </div>

  <div fxFlex="20" *ngIf="item.accrualFrequency !== null">
    <mat-form-field fxFlex="100">
      <mat-label>
        <span>Accrual Frequency</span>
      </mat-label>

      <mat-select [(ngModel)]="item.accrualFrequency"
                  required>
        <mat-option value="WEEKLY">Weekly</mat-option>
        <mat-option value="BI-WEEKLY">Bi-Weekly</mat-option>
        <mat-option value="MONTHLY">Monthly</mat-option>
        <mat-option value="QUARTERLY">Quarterly</mat-option>
        <mat-option value="ANNUALLY">Annually</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex="10" class="delete">
    <i class="fas fa-trash-alt"
       (click)="delete(item)"></i>
  </div>
</div>
