<mat-card>
  <mat-card-header>
    <mat-card-title>Debt Management</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="debt-loan-list" *ngFor="let amortization of amortizations" fxLayout="row" fxLayoutGap="10px">
      <div class="debt-label" fxFlex="20" fxLayoutAlign="start center">
        {{ amortization.loan.label }}
      </div>

      <div fxFlex="10">
        <mat-form-field fxFlex="100">
          <mat-label>
            <span>Payment</span>
          </mat-label>

          <input matInput
                 [(ngModel)]="amortization.loan.payment"
                 type="number"
                 required
                 placeholder="Accrual Amount"/>
        </mat-form-field>
      </div>

      <div fxFlex="25">
        <mat-form-field fxFlex="100">
          <mat-label>
            Payment Date
          </mat-label>

          <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="amortization.loan.paymentDate">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="debt-final-payment">
        <mat-label>
          Payoff Date
        </mat-label>
        <div>
          {{ amortization.payoffDate }}
        </div>
      </div>

      <div class="debt-interest-paid">
        <mat-label>
          Interest Paid
        </mat-label>
        <div>
          <i class="fas fa-dollar-sign"></i>
          {{ amortization.interestPaid }}
        </div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="start">
    <button mat-button class="mat-primary" (click)="update()">Update</button>
  </mat-card-actions>

  <mat-card-footer>
  </mat-card-footer>
</mat-card>
