<div id="finance" fxLayout="row" fxLayoutGap="50px">
  <div id="financial-col" fxFlex="25" fxLayout="column" fxLayoutGap="20px">
    <div>
      <app-income [incomeSources]="incomeSources"
                  [totalIncome]="totalIncome"
                  (addIncome)="addIncome()"
                  (deleteIncome)="deleteFinance($event)"
                  (saveIncome)="saveFinances($event)"></app-income>
    </div>

    <div>
      <app-expense [bills]="bills"
                   [totalBills]="totalBills"
                   (addBill)="addBill()"
                   (deleteBill)="deleteFinance($event)"
                   (saveBills)="saveFinances($event)"></app-expense>
    </div>

    <div>
      <app-budget [budget]="budget"
                  [totalBudget]="totalBudget"
                  (addBudgetItem)="addBudgetItem()"
                  (deleteBudgetItem)="deleteFinance($event)"
                  (saveBudget)="saveFinances($event)"></app-budget>
    </div>
  </div>

  <div id="monthly-delta" fxFlex="15">
    <app-overview-basic [totalBills]="totalBills"
                        [totalBudget]="totalBudget"
                        [monthlyDelta]="monthlyDelta"
                        [monthlyIncome]="monthlyIncome"></app-overview-basic>
  </div>

  <div id="accounts-col" fxFlex="25" fxLayout="column" fxLayoutGap="20px">
    <div>
      <app-account [accounts]="accounts"
                   [totalAccountsValue]="totalAccountsValue"
                   (addAccount)="addAccount()"
                   (saveAccounts)="saveFinances(accounts)"></app-account>
    </div>

    <div>
      <app-loan [loans]="loans"
                [totalDebt]="totalDebt"
                (addLoan)="addLoan()"
                (saveLoans)="saveFinances(loans)"></app-loan>
    </div>
  </div>
</div>
